header.header
    .header__title Привет мир! Я умею писать на PUG
    .header__content
        .image
            .image__inner
                img(src="#" alt="Моя картинка ")
                a(href="#") Some text!!
    .header__bla-bla ""asd

